#home { 
font-family: Arial;
text-align: left; 
font-size:24px;
  }



#home:hover {
font-size: 30px; 
}


body {
  background-color: rgb(52,52,69);
}
p {
font-family: arial; 
color: white; 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  position: relative;
  padding: 1px;
  top:30px;
  width: 320px;
  height:320px;
  border:black;
  background-color:rgb(35,35,46);
  border-radius: 10px; 
}

@property --angle {
syntax: "<angle>"; 
initial-value: 0deg; 
inherits: false; 
}

.card::after, .card::before {
  content: ' ';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),#ff4545, #00ff99, #006aff, #ff0095, #ff4545); 
  top: 50%;
  left:50%;
  translate: -50% -50%;
  z-index: -1; 
  padding: 3px; 
  border-radius: 10px;
  animation: 3s spin linear infinite; 
}

.card::before{
filter: blur(1.5rem);
opacity: 0.5;  
}

@keyframes spin {
from {
  --angle: 0deg; 
}
 to {
  --angle: 360deg; 
 }
}


.container {
  padding: 2px 20px;
}

#trump {
border-radius: 20px; 
position: relative;
left: 20px;
}



#kamala {
  border-radius: 20px;
}


#th {
font-family: monospace, monospace;
  position: relative;
}

h2 {
text-align: center;
font-family: arial; 
color: white; 
}

#Harris {
float: right; 
position: relative;
  top: -200;
}
